<!-- About page provides a description of the functionality of the system -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
    <!-- Title  -->
    <title>Molecular Networking Parameter Optimisation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css"/>
    <link rel="stylesheet" href="/static/vendors/nice-select/css/nice-select.css"/>
    <link rel="stylesheet" href="/static/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/static/vendors/popup/magnific-popup.css" />
    <link rel="stylesheet" href="/static/vendors/swiper/css/swiper.min.css" />
    <link rel="stylesheet" href="/static/vendors/scroll/jquery.mCustomScrollbar.css"/>
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
  </head>

  <body>
    <!--================Menu Area =================-->
    <div class="side_menu">
      <a class="logo" href="#">
        <img src="\static\img\banner\logo-menu.png" alt="" />
      </a>
      <ul class="list menu_right">
        <li>
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
    </div>
    <!--================End  Menu Area =================-->

    <!--================Header Menu Area =================-->
    <header class="header_area home_menu">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h" href="{{ url_for('index') }}">
              <img src="static\img\banner\logo.png" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Canvus Menu Area =================-->
    <div class="canvus_menu">
        <div class="container">
          <div class="float-right">
            <div class="toggle_icon">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <!--================End Canvus Menu Area =================-->

    <!--================ About Area =================-->
    <section class="menu_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
        <div class="row menu_inner">
          <div class="col-md-12 col-lg-10 col-xl-6">
            <div>
              <ul class="list">
                <li>
                    <p></p>
                    
                  <h4 >
                    About
                  </h4>
                  <p></p>
                  <!-- Justify text -->
                  <p align="justify">
                    The objective of this project is to build a web application that implements the algorithms in relation to Parameter Optimization, of a program called Molnet. Molnet is a Molecular Networking prototype, which organizes Mass Spectrometry (MS/ MS) data based on its chemical similarity.
                    <p></p>
                    This web application allows users to upload a file with .mzML extension, which is a standardized format for Mass Spectrometry data. Users have the option of choosing the values, and the range of the parameters they want to process. The values of the optimized parameters are shown in a results page.

                    Molecular Networking is a data organizational approach that arranges Mass Spectrometry (MS/MS) data. It reads a file containing spectra data. Then, it goes through filtering steps to make a clear separation between the spectra, depending on the similarity of its chemical properties.

                    
                    <p></p>
<p></p>    
<p></p>                    

                    [1] Quinn, Robert & Nothias, Louis-Félix & Vining, Oliver & Meehan, Michael & Esquenazi, Eduardo & Dorrestein, Pieter. (2016). Molecular Networking As a Drug Discovery, Drug Metabolism, and Precision Medicine Strategy. Trends in Pharmacological Sciences. 38. 10.1016/j.tips.2016.10.011

                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 col-xl-6">
            <div>
              <ul class="list">
                <li>
                    <p></p>

                  <h4 style="color: #fff;">
                    Molecular Networking
                  </h4>
                  <p></p>

                  <p align="justify">                  
                    After, it puts the spectra that belongs to the same molecule into groups. A Molecular Network is comprised by nodes that contain a group of similar spectra. This spectra makes up a molecule. Nodes are connected by edges. 
                    <p></p>
                    This data organizational tool aims to find spectra of molecules that belong to something already known, or to find completely new molecules. It is applicable across diverse fields such as; human disease research including autism, coronary artery disease, and hypertension. In addition, it is utilized in the discovery of therapeutic leads, monitoring drug metabolism, and emerging applications in precision medicine.  [1].
                    
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End About Area =================-->

    <!--================ Start footer Area  =================-->
    <footer class="footer-area p_120">
      <div class="container">
        <div
          class="row footer-bottom d-flex justify-content-between align-items-center"
        >
          <ul class="list" style="color: #fff;">
            <li>
              <a
                >This web application was built by The School of Computing
                Science - University of Glasgow</a
              >
            </li>
            <li>
              <a> All rights reserved | 2019</a>
            </li>
          </ul>
          <div class="col-lg-4 col-md-4 footer-social">
            <a href="https://www.facebook.com/UofGlasgow/">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/UofGlasgow">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/stellar.js"></script>
    <script src="/static/js/jquery.lightbox.js"></script>
    <script src="/static/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/static/vendors/isotope/isotope-min.js"></script>
    <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/static/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/static/js/mail-script.js"></script>
    <script src="/static/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="/static/vendors/swiper/js/swiper.min.js"></script>
    <script src="/static/vendors/scroll/jquery.mCustomScrollbar.js"></script>
    <script src="/static/js/theme.js"></script>
  </body>
</html>
